@model IEnumerable<GSTInvoiceData.Models.ContactPerson>
@{
    ViewBag.Title = "_ContactPerson";
}
<div class="col-md-12">
    <div class="card card-topline-green">
        <div class="card-head">
            <header>Contact Persons</header>
        </div>

        <div class="card-body ">
            <div class="table-scrollable">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Salutation</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email Address</th>
                            <th>Work Phone</th>
                            <th>Mobile</th>
                        </tr>
                    </thead>
                    <tbody class="list-Contacts">
                        @Html.EditorFor(m => Model);
                    </tbody>
                </table>
            </div>
        </div>
        <h4 style="text-transform:lowercase!important; margin-left:25px;"><a id="addNewContact">Add Contact Person</a></h4>
    </div>
</div>



