@model GSTInvoiceData.Models.CustomerInformation
@{
    ViewBag.Title = "_Remarks";
}

<div class="col-md-12">
    <div class="card card-topline-green">
        <div class="card-head">
            <header>Remarks</header>
            @*<div class="tools">
                <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
            </div>*@
        </div>
        <div class="card-body">
            <div class="col-md-6">
                @Html.TextAreaFor(model => model.Remark, new { @class = "form-control", style = "height:120px;" })
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

