@model GSTInvoiceData.Models.CustomerInformation

@{
    ViewBag.Title = "CustomerInformation";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<html>
<head>

</head>
<body>
    <div class="page-bar">
        <div class="page-title-breadcrumb">
            <div class="pull-left">
                <div class="page-title">New Contact</div>
            </div>
            <ol class="breadcrumb page-breadcrumb pull-right">
                <li>
                    <i class="fa fa-home"></i>&nbsp;<a class="parent-item" href='@Url.Action("Dashboard", "User")'>Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a class="parent-item" href="#">New Contact</a>&nbsp;
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card card-topline-yellow">
                <div class="card-head">
                    <header>Add Contact Information</header>
                </div>
                <div class="card-body" id="bar-parent1">
                    @using (Html.BeginForm("AddCustomer", "Customer", FormMethod.Post, new { id = "form_sample_1", @class = "form-horizontal" }))
                    {
                        @Html.ValidationSummary(true)

                        @Html.Partial("PartialViews/_CustomerInformation", Model);
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>
