@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from radixtouch.in/hospital/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 08 Sep 2017 11:09:54 GMT -->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="Responsive Admin Template" />
    <meta name="author" content="RedstarHospital" />
    <title>GST invoice</title>

    <!--bootstrap -->
    <link href="~/js/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/js/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />

    <!-- Theme Styles -->
    <link href="~/css/theme_style.css" rel="stylesheet" id="rt_style_components" type="text/css" />
    <link href="~/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/css/responsive.css" rel="stylesheet" type="text/css" />

    <!-- favicon -->
    <link rel="shortcut icon" href="~/img/favicon.ico" />
</head>
<body>
    <!-- start page content -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="card_size">
                            <div class="card card-topline-green">
                                <div class="card-head">
                                    <header>Registration</header>
                                </div>
                                <div class="card-body ">
                                    <img id="img_size_1" src="~/img/success.png" />
                                    <h4 id="para_size_1" class="font_bold">
                                        Thank you for your submission
                                    </h4><hr>
                                    <span class="text-muted" class="para_size">
                                        Activation email has been sent to: <strong>@TempData["Email"]</strong>
                                    </span><br>
                                    <span class="text-muted" class="para_size">
                                        Please Confirm your email account within 24 hours to continue.
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end page content -->
</body>
<!-- Mirrored from radixtouch.in/hospital/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 08 Sep 2017 11:10:30 GMT -->
</html>


